<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>651991800208-gh5th20v3ifg36vc859p0ljpb42ghi0s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.651991800208-gh5th20v3ifg36vc859p0ljpb42ghi0s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>651991800208-qdtc4crbglo2mhqeutb1lnc3cbfv9fph.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDwUEMrwz0_NyyyYgVNKH1h1-zYDaIFjZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>651991800208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.massigymFlutter</string>
	<key>PROJECT_ID</key>
	<string>massigym-80757</string>
	<key>STORAGE_BUCKET</key>
	<string>massigym-80757.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:651991800208:ios:f0f51f59188682cb48bb15</string>
</dict>
</plist>